body {
    background-color: black;
}
.container{
    background-color: black;
    margin-left:20%;
}
.home,.about,.contact,.more{
    display: inline;
    background-color: white;
    margin-right:2%;
    align-items:end;
    font-size: 30px;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 2%;
    color: rgb(255, 0, 0);
    padding-left: 2%;
    padding-right: 2%;
    
    
}
.home:hover,.about:hover,.contact:hover,.more:hover{
    background-color: rgb(255, 0, 0);
    color: black;
    font-size: 40px;
    border-radius: 30px;
    box-shadow: 200px rgb(255, 255, 255);
}
.contact{
    align-items: 2%;
}
.promo{
    background-color: white;
    width: 25%;
     height: 2%;
     align-items: center;
     border-radius: 9px;
     margin-left: 38%;
     display: inline-block;
}
.promo:hover{
 background-color: red;
 color: black;
 font-size: 25px;
 
}
.contact{
    padding-top: 2%;
}
.q{
   width: 20%;
    margin-left: 40%;
    height: 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight:900;
    font-family:  Comic Sans MS;
}
.order{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    width: max-content;
    border-radius: 6px;
    padding: 2px;
    margin-left: 45%;
}
.order:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-size: xx-large;
  cursor: pointer;

}
.search{
    margin-left: 50%;
    font-size: xx-large;
} 
.offers{
   padding: 5%;
}
.sub{
    font-family:  Comic Sans MS;
    margin-left: 44%;
margin-top: 2%;
border-radius: 10px;
}
.sub:hover{
    background-color: red;
    color: black;
  
    

}